@model HSU.PTWeb.AnhPH.BookStore.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Đăng ký";
}

<h2>Đăng ký</h2>

<form asp-action="Register" method="post">
    <div class="mb-3">
        <label>Tên đăng nhập</label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Mật khẩu</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Họ và tên</label>
        <input asp-for="FullName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>
